<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Leslie app</name>
<icon src="logo.jpg" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="xhdpi" />


<preference name='phonegap-version' value='cli-5.1.1' />
<description>
Aplicacion para Leslie.
</description>

<preference name="permissions" value="none"/>

<author href="https://example.com" email="oscar_c_m@hotmail..com">
oscorm
</author>

</widget>
